@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F28824;
    font-family: 'Delicious Handrawn', cursive, sans-serif;
}

/* header */
header {
    position: static;
    font-size: 3em;
    width: 100vw;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 80px;
    font-weight: 400;
    letter-spacing: 4px;
    color: #F28824;
    text-align: center;
    margin: 2%;
    border: solid 4px white;
    background-color: white;
    border-radius: 10px;
}

/* game area */
.game-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* cards */
.card {
    background: white;
}

.card-front {
    font-size: 36px;
    color: #F28824;
    letter-spacing: 3px;
}

.card-back {
    font-size: 0px;
}

.card {
    margin: 0.2rem 0.2rem;
    cursor: pointer;
    display: flex;
    padding: 1em;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    height: 70px;
    width: calc(100% / 4 - 10px);
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
    transform-style: preserve-3d;
}

.card .view {
    position: absolute;
    transition: transform 0.25s linear;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    user-select: none;
    pointer-events: none;
}

.card-inner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1em;
    box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
    background: white;
    border-radius: 10px;
    margin-bottom: 1em;
    perspective: 800px;
}

/* turns cards */
.card.open {
    transform: rotateY(180deg);
}

.card.flipped .card-back {
    font-size: 40px;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

/* match and no match styling */
.card.match {
    background: #5fdc46;
    transform: rotateY(180deg);
}

.card.mismatch {
    background: #7c1504;
}

.card-inner .card.disable {
    pointer-events: none;
}

/* Timer and Score */
.timer {
    padding-right: 20%;
    font-size: 30px;
}

.moves {
    margin-left: 20%;
    bottom: 35px;
    position: relative;
    font-size: 30px;
}

/* popup */
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
}

.popup {
    width: 60%;
    font-size: 1.5em;
    letter-spacing: 1px;
    background: #d2691e99;
    margin: 10% auto;
    text-align: center;
    overflow: auto;
    padding: 20px;
}

.popup h2 {
    padding-bottom: 12px;
    font-size: 50px;
}

.closebtn {
    font-size: 50px;
    float: right;
}

.closebtn:hover {
    color: white;
    cursor: pointer;
}

/* buttons */
#play {
    color: #F28824;
    font-size: 20px;
    margin-top: 15px;
}

#play:hover {
    color: black;
}

#tip {
    position: relative;
    top: 30px;
    left: 25px;
}

.restart {
    position: relative;
    font-size: 22px;
    left: 17vw;
}

.tool-tip {
    visibility: hidden;
}

.tool-tip.show {
    visibility: visible;
    font-size: 22px;
}

.close {
    display: none;
}

.fa-play {
    font-size: 30px;
    margin-right: 15vw;
}

.fa-play:hover {
    color: white;
    cursor: pointer;
}

.fa-rotate {
    font-size: 30px;
    margin-left: 10vw;
    bottom: 30px;
    position: relative;
}

.fa-rotate:hover {
    color: white;
    cursor: pointer;
}

/* footer */
footer {
    position: absolute;
    bottom: 0;
}

/* media queries */
@media screen and (max-width: 350px) {
    .restart {
        position: relative;
        font-size: 22px;
        left: 90px;
    }

    footer {
        bottom: auto;
    }
}

@media screen and (max-width: 400px) {
    .fa-play {
        margin-right: 45vw;
    }

    .restart {
        position: relative;
        font-size: 22px;
        left: 85px;
    }

    .timer {
        padding-right: 50%;
    }
}

@media screen and (min-width: 450px) {
    .fa-play {
        margin-right: 45vw;
    }

    .restart {
        position: relative;
        font-size: 22px;
        left: 20vw
    }
}

@media screen and (min-width: 600px) {
    .fa-play {
        margin-right: 30vw;
    }

    .restart {
        position: relative;
        font-size: 22px;
        left: 17vw;
    }
}

@media screen and (min-width: 1000px) {
    .restart {
        left: 13vw;
    }

    .fa-play {
        margin-right: 20vw;
    }
}